<nav class="z-depth-2">
    <div class="nav-wrapper red darken-1">
        <a href="#" class="brand-logo center logo-style">ITILITY</a>
        <p href="#" class="left main-email-style">{{email.dataValues.email}}</p>
        <a href="#" class="right white-text sign-out-btn" id="signout" href="#" onclick="signOut();">Sign Out</a>

    </div>
</nav>

<div class="spacer-div"></div>

<div class="container">
    {{!-- CREATE BILL --}}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">note_add</i>
                <p id="user" data-id="{{email.dataValues.id}}" class="text-fix">Add Bill</p>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="amount" type="text" class="validate">
                        <label for="amount">Amount (USD)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        <input id="date" type="text" class="datepicker">
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">business_center</i>
                    <select id="utility">
                        <option selected></option>
                        <optgroup label="Electric">
                            <option value="1">Xcel Energy</option>
                        </optgroup>
                        <optgroup label="Water">
                            <option value="2">Denver Water</option>

                        </optgroup>
                        <optgroup label="Phone">
                            <option value="3">T-Mobile</option>

                        </optgroup>
                        <optgroup label="Internet">
                            <option value="4">xFinity</option>

                        </optgroup>
                    </select>
                </div>
                {{!-- ! This button should Send a POST to create a bill using AJAX and jquery to grab values --}}
                <a class='dropdown-trigger btn red white-text' id="createBillButton" data-target='dropdown1'>Add
                    Bill</a>
            </div>
        </li>
    </ul>

    <div class="row">

        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">attach_money</i>Total HERE</div>
                <div class="collapsible-body">TOTAL AMOUNT: <span id="total"></span></div>
            </li> 
            
    </ul>
        
    </div>



    {{!-- Bills should follow this format --}}
    <div class="row" id="tiles">

    </div>

</div>
<script src="/js/dropdown.js"></script>
<script src="/js/index.js"></script>