<div class="container">
            <div class="row">
                <div class="col s1 m12 accordion">
                    <div class="card #43a047 green darken-1" style ="opacity: .4">
                    
                        <div class="card-content white-text">
                            <span class="card-title">Create a tile</span>
                            <p>Make a New tile here</p>
                        </div>
                        
                        <div class="card-action">
                            <a href="#">ADD</a>
                        </div>                    

                    </div>
                </div>
                <div class="panel">
                        <div class = "tile">
                            <div class="compName">
                                <p>Company Name: One</p>
                            </div>
    
                            <div class="compType">
                                <p>Company Type: One</p>
                            </div>
    
                            <div class="dueDate">
                                <p>Date Due: One</p>
                            </div>
    
                            <div class="amountDue">
                                <p>Amount Due: One</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <script src="/js/dropdown.js"></script>