<nav class="z-depth-2">
    <div class="nav-wrapper red darken-1">
        <a href="#" class="brand-logo center logo-style">ITILITY</a>
    </div>
</nav>
<div class="spacer-div"></div>

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Log In</span>
                </div>
                <div class="card-action">

                    <div class="row">
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        <script>
                            function onSignIn(googleUser) {
                                console.log('ehre')
                                var profile = googleUser.getBasicProfile();
                                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                                console.log('Name: ' + profile.getName());
                                console.log('Image URL: ' + profile.getImageUrl());
                                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not
                                const email = profile.getEmail();
                                window.location.replace(`/user/${email}`)
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>