body {
  font-family: "Roboto";
  background-color: rgb(243, 243, 243);
  color: rgb(31, 31, 31);
}

.sign-out-btn {
  height: 100%;
  width: 120px;
  text-align: center;
  transition: 0.5s;
}

.sign-out-btn:hover {
  background-color: rgba(15, 113, 131, 0.582);
  transition: 0.5s;
  text-decoration: none;
}

.spacer-div {
  height: 30px;
}

.text-fix {
  margin: 2px 0 0 0;
}

.logo-style {
  font-family: "Roboto";
  letter-spacing: 2px;
  font-size: 22px;
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.logo-style:hover {
  text-decoration: none;
}

.main-email-style {
  text-align: center;
  margin-left: 15px;
}
.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(255, 25, 25);
}

.card-image img {
  padding: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 300px;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: rgba(0, 0, 0, 0.884);
  text-decoration: none;
}

.collapsible-body {
  background-color: white;
}

#createBillButton {
  margin-top: 15px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.accordion:hover {
	opacity: 0.7;
} */

/* Style the accordion panel. Note: hidden by default */

.card {
  animation: fade-in 0.6s ease-in-out;
  margin-right: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.tile {
  display: grid;
  grid-gap: 20px;
}

.compName {
  grid-column-start: 1;
  grid-column-end: 3;
}

.compType {
  grid-column-start: 3;
  grid-column-end: 3;
}

.dueDate {
  grid-row-start: 2;
  grid-column-end: 2;
}

.amountDue {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

.glob {
  background-image: url("img/buy-cash-coins-9660.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#create_bill {
  width: 100%;
}

.datepicker-modal {
  height: 350px;
}

#signout {
  color: black;
}
